@import "tailwindcss";

.dropdown-container {
  position: relative;
  align-content: center;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 10;
  background-color: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  padding: 8px 0;
  border-radius: 4px;
  z-index: 10;
  min-width: 200px;
}

/* Dropdown item links */
.dropdown-menu a {
  display: block;
  padding: 8px 16px;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-menu a:hover {
  background-color: black;
  color: white;
}

/* Show dropdown on hover */
.dropdown-container:hover > .dropdown-menu {
  display: block;
}

/* Positioning nested dropdowns */
.dropdown-menu .dropdown-container {
  position: relative;
}

.dropdown-menu .dropdown-container .dropdown-menu {
  top: 0;
  left: 100%;
}